@use 'sass:math';
// Paul's default SCSS
@mixin mk-spacing {
  @for $i from 0 through 90 {
    $offset: calc($i/10) * 1em;
    $em:  $i * 1em;
    .mv#{$i} { margin-top: $offset; margin-bottom: $offset; }
    .mh#{$i} { margin-left: $offset; margin-right: $offset }
    .pv#{$i} { padding-top: $offset; padding-bottom: $offset; }
    .ph#{$i} { padding-left: $offset; padding-right: $offset }
    .p#{$i} { padding: $offset; }
    .m#{$i} { margin: $offset; }
    .br#{$i} {border-radius: $offset !important}
    .minw#{$i} {min-width: $em; }
    .maxh#{$i} {max-height: $em; }
    .minh#{$i} {min-height: $em; }
    .maxw#{$i} {max-width: $em; }
    .w#{$i} {width: $em; }
    .h#{$i} {height: $em; }
  }
}

@include mk-spacing;

.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}

.fullh {
  height: 100%;
}

.fullw {
  width: 100%;
}

.full {
  height: 100%;
  width: 100%;
}


.tst-cls {
  border: solid red 3px;
}

body {
  text-align: left;
  place-items: start;
}
div[display="flex"] {
  align-items: flex-start;
}

.hfc {
  height: fit-content;
}

.wfc {
  width: fit-content;
}

.flex-start-start  {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;

}

.flex-start-stretch  {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;

}
.flex-start-center  {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;

}

.flex-start-start-col  {
	@extend .flex-start-start;
	flex-direction: column;
}

.flex-start-center-col  {
	@extend .flex-start-center;
	flex-direction: column;
}
.flex-start-stretch-col  {
	@extend .flex-start-stretch;
	flex-direction: column;
}





