/* Default CSS For Resizable Panels Components*/

/*
  outline: none;
*/
.ResizeHandle {
  flex: 0 0 0.25rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  outline: 3px solid black;
  transition: background-color 0.2s linear;
}
.ResizeHandle[data-resize-handle-active="keyboard"],
.ResizeHandle[data-resize-handle-active="pointer"] {
  background-color: var(--color-resize-bar-drag);
}

@media (pointer: coarse) {
  .ResizeHandle {
    flex: 0 0 1rem;
  }
}

.PanelGroup, .HPanelGroup, .VPanelGroup {
  display: flex;
}

.HPanelGroup {
}

.VPanelGroup {
}

.VPanelGroup > .Panel {
  display:flex;
  background: orange;
  margin: 15px;
  padding: 8px;
  flex-direction: column;
}
.HPanelGroup > .Panel {
  display:flex;
  background: yellow;
  margin: 15px;
  padding: 8px;
  flex-direction: row;
}

.Panel {
  border: solid purple 3px;
}
/*
.HPanelGroup {
  display: flex;
  flex-direction: row;
}
  */



