/*
@import "tailwindcss";
@plugin "daisyui";
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Helvetica, sans-serif;
  width: 100vw;
}

.tsth1 {
  border: solid green 4px;
  @apply text-4xl font-bold py-4 m-4 underline text-center;
}

.tsttw {
  border: solid green 4px;
  margin: 3em;
  padding: 3em;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  color: red;
  background: yellow;
}